#p {
  color: blue;
  font-size: 240%;
}

div {
  background-color: dodgerblue;
  color: blue;
  font-size: 200%;
  width: 300px;
  border: 15px solid blue;
  padding: 50px;
  margin: 20px;
}

#bluwu {
 background-color: #2d2485;
 color: white;
 padding: 25px;
 text-align: center;
}

table, th, td {
  border: 1.5px solid blue;
  color: blue;
  text-align: center;
}
